@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
  box-sizing: border-box;
}

.text h2 {
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
  margin: 0;
}

.text p {
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 0.2vw;
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  gap: 26px;
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.link img {
  max-width: 40px;
  height: auto;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: 0.15vw;
  word-wrap: break-word;
  position: relative; /* For positioning the underline */
}

.link a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: var(--color-text);
  transition: width 0.3s;
  bottom: -5px;
  left: 0%; /* Start 10% from the left to center the 80% width underline */
}

.link a:hover::after {
  width: 100%; /* 80% of the link's width */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
    padding: 20px 5%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links {
    align-items: center;
  }

  .link a {
    font-size: 4.5vw;
    word-wrap: break-word;
  }
}
