.IntroCard {
  display: flex; /* Use flexbox for layout */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; /* Vertically center the items */
  
  /*
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  */
  padding: 20%px;
  margin: 10%;
}

.IntroCard .IntroCardPfp img{
  display: inline-block;
  border-radius: 50%;
  width: 150px; /* Set a fixed width for the image */
  height: 150px; /* Set a fixed height for the image to maintain the circle */
  object-fit: cover; /* Ensure the image covers the circle shape */
  /*border: 2px solid red;*/
}

.IntroCard .IntroCardText {
  display: inline-block;
  text-align: center;
  /*border: 2px solid red;*/
}
