:root {
  /* Colours */
  --color-text: #000000;
  --color-primary: #c18439;
  --color-secondary: #a05800;
  --color-dark: #a0580077;
  --color-bg: #cc9b60;

  /* Fonts */
  --font-roboto: "Roboto";
}
